
 <header id="head">
  	<div class="intro-text">
   		<img class="img-responsive center-block" src="/assets/logo.png" width="450px;" alt="Logo">
    	<a href="#t1" class="page-scroll btn btn-xl center-block" style="width:300px;margin-top:20px;">Conoce Más</a>
    </div>
</header>

<div id="triggers">
	<div id="t1"></div>	
    <div id="t2"></div>
    <div id="t3"></div>
    <div id="t4"></div>
    <div id="t5"></div>
</div>