<!-- Lumens Social Modal -->
<div id="lumensSocial" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Lumens social marketing</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-4">
            <img class="img-responsive" src="/assets/lumenssm1.jpg" alt="Lumens publicacion 1">
          </div>
          <div class="col-lg-4">
            <img class="img-responsive" src="/assets/lumenssm2.gif" alt="Lumens publicacion 2">
          </div>
          <div class="col-lg-4">
            <img class="img-responsive" src="/assets/lumenssm3.jpg" alt="Lumens publicacion 2">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        Más en  <a href="https://www.facebook.com/lumensbolivia/">Facebook Lumens</a>
        <button style="margin-left:15px;" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Acotec Social Modal -->

<div id="acotecSocial" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Acotec social marketing</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-4">
            <img class="img-responsive" src="/assets/acotecsm1.jpg" alt="Acotec publicacion 1">
          </div>
          <div class="col-lg-4">
            <img class="img-responsive" src="/assets/acotecsm2.jpg" alt="Acotec publicacion 1">
          </div>
          <div class="col-lg-4">
            <img class="img-responsive" src="/assets/acotecsm3.jpg" alt="Acotec publicacion 1">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        Más en <a href="https://www.facebook.com/acotecbolivia/">Facebook Acotec</a>
        <button style="margin-left:15px;" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!--Recodo Modal -->

<div id="recodoAplicaciones" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">El Recodo Verde Aplicaciones</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <img class="img-responsive" src="/assets/recodoa1.jpg" alt="El recodo verde aplicaciones 1">
          </div>
          <div class="col-lg-6">
            <img class="img-responsive" src="/assets/recodoa2.jpg" alt="El recodo verde aplicaciones 1">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button style="margin-left:15px;" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!--losandes -->

<div id="losandesAplicaciones" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Los Andes Aplicaciones</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <img class="img-responsive" src="/assets/losandesa1.jpg" alt="Los andes aplicaciones">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button style="margin-left:15px;" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


