<section id="portfolio" class="bg-light-gray panelred plusplus">
<div class="additionalContentred">
  <div class="container-fluid">
    <div class="row" style="margin-left:30px;">
         <center>
            <h1>Algunos Proyectos</h1>
                <div class="view view-fifth col-lg-3 col-lg-6">
                    <img src="/assets/lumens.png" height="200" width="300" alt="Logo Lumens"/>
                    <div class="mask">
                        <h2>Lumens</h2>
                        <p>Pagina Web <br>
                            <a href="#lumensSocial" style="color:white;" data-toggle="modal">Social Marketing</a><br>
                            Packaging
                        </p>
                    </div>
                </div> 
                <div class="view view-fifth col-lg-3 col-lg-6">
                    <img src="/assets/crisner.png" height="200" width="300" alt="Logo Crisner"/>
                    <div class="mask">
                        <h2>Crisner Architechture</h2>
                        <p>Pagina Web</p>
                    </div>
                </div>
                <div class="view view-fifth col-lg-3 col-lg-6">
                    <img src="/assets/acotec.png"height="200" width="300" alt="Logo Acotec"/>
                    <div class="mask">
                        <h2>Acotec</h2>
                        <p>Pagina Web<br>
                       <a href="#acotecSocial" style="color:white;" data-toggle="modal">Social Marketing</a><br></p>
                    </div>
                </div>
                <div class="view view-fifth col-lg-3 col-lg-6">
                    <img src="/assets/fundacion.png" height="200" width="300" alt="Logo Funcacion Hecho en Bolivia"/>
                    <div class="mask">
                        <h2>Fundacion Hecho en Bolivia</h2>
                        <p><a target="_blank" style="color:white;" href="http://www.festivalcaporal.org">Pagina Web Festival Internacional Caporal</a></p>
                    </div>
                </div>
                <div class="view view-fifth col-lg-3 col-lg-6">
                    <img src="/assets/hit.png"height="200" width="300" alt="Logo Radio Hit" />
                    <div class="mask">
                        <h2>Radio Hit</h2>
                        <p><a target="_blank" style="color:white;" href="http://www.fmhitradio.com">Pagina Web</a></p>
                    </div>
                </div>
                <div class="view view-fifth col-lg-3 col-lg-6">
                    <img src="/assets/recodo.png" height="200" width="300" alt="Logo El Recodo Verde" />
                    <div class="mask">
                        <h2>Recodo Verde</h2>
                        <p>
                            Marca<br>
                            <a href="#recodoAplicaciones" style="color:white;" data-toggle="modal">Aplicaciones</a><br>
                            Pagina Web
                        </p>
                    </div>
                </div>
                <div class="view view-fifth col-lg-3 col-lg-6">
                    <img src="/assets/raulsalinas.png" height="200" width="300" alt="Logo Raul Salinas" />
                    <div class="mask">
                        <h2>Raul Salinas</h2>
                        <p>
                            <a target="_blank" style="color:white;" href="http://www.raulsalinas.com.bo">Pagina Web</a>
                        </p>
                    </div>
                </div>
                <div class="view view-fifth col-lg-3 col-lg-6">
                    <img src="/assets/losandes.png" height="200" width="300" alt="Logo Los Andes" />
                    <div class="mask">
                        <h2>Los Andes</h2>
                            <p>Marca<br>
                            <a href="#losandesAplicaciones" style="color:white;" data-toggle="modal">Aplicaciones</a>
                        </p>
                    </div>
                </div>

            </center>
    </div>
    </div>
</div>
</section>
