<section id="quienes" class="bg-light-gray panelturqoise plusplus">
  <div class="additionalContentturqoise">
    <div class="container-fluid" >
    <div class="row">
      <div class="col-lg-5 col-md-4 col-sm-4 col-xs-4"></div>
      <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
        <center>
          <img id="quienesimg" class="img-responsive" alt="Equipo" src="/assets/pared.png">
        </center>
      </div>
    </div>

      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 text-center">
          <h1>¿Quienes Somos?</h1>
          <p>Somos la empresa dedicada al diseño gráfico que necesitas.</p>
          <div class="mision">
            <h1>Misión</h1>
            <p class="text-muted">Consolidar la identidad de nuestros clientes en el mercado.</p>
          </div>
          <div class="mision">
            <h1>Visión</h1>
            <p class="text-muted">
              Ser la empresa de referencia para las personas y entidades que desean consolidar su imagen en el mercado, totalmente adaptable a los cambios tecnológicos; esta labor se debe desempeñar de manera ética y satisfactoria sin perder la calidad, la eficiencia y el compromiso que nos diferencia.
            </p>
          </div>
        </div>
       </div>
    </div>
  </div>
</section>