<html>
<head>
    <title><%= content_for?(:title) ? yield(:title) : "Dual Designers" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tag %>

    <script>
      $(function() {
        $('a.page-scroll').bind('click', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
        scrollTop: $($anchor.attr('href')).offset().top
        }, 1500, 'easeInOutExpo');
        event.preventDefault();
        });
        });
        // Highlight the top nav as scrolling occurs
        $('body').scrollspy({
        target: '.navbar-fixed-top'
        })
        // Closes the Responsive Menu on Menu Item Click
        $('.navbar-collapse ul li a').click(function() {
        $('.navbar-toggle:visible').click();
        });
    </script>

  </head>


<body id="page-top" class="index">

<div id="notice">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
</div>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header page-scroll">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand page-scroll" href="#page-top"></a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">
<li class="hidden">
<a href="#page-top"></a>
</li>
<li>
<a class="page-scroll" href="#quienes">¿Quiénes Somos?</a>
</li>
<li>
<a class="page-scroll" href="#que_hacemos">¿Qué Hacemos?</a>
</li>
<li>
<a class="page-scroll" href="#planes">Paquetes</a>
</li>
<li>
<a class="page-scroll" href="#portfolio">Algunos Proyectos</a>
</li>
<li>
<a class="page-scroll" href="#contact">Contáctanos</a>
</li>
</ul>
</div>
<!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->
</nav>
<!-- Header -->

<section>
<div class="container">
<div class="intro-text">
<img class="img-responsive center-block" src="/assets/logo1.png" width="450px;">
<a href="#quienes" class="page-scroll btn btn-xl center-block" style="width:300px;">Conoce Más</a>
</div>
</div>
</section>
<!-- quienes Section -->
<section id="quienes" class="bg-light-gray">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="section-heading">¿Quiénes Somos?</h2>
<br>
<h4>
<div class="text-muted text-muted">
  Somos la Empresa dedicada al Diseño y Desarrollo Web que necesitas.
  </div>
</h4>
<br>
<h4 class="text-center">
  <strong style="font-size:25px;">Misión</strong>
  <br><br>
  <div class=" text-muted text-muted">
  Ayudar a nuestros clientes a plasmar sus ideas en Soluciones Web Eficientes y Creativas con una calidad competente en el mercado internacional.
  </div>
  <br>
</h4>
<h4 class="text-center">
  <strong style="font-size:25px;">Visión</strong>
  <br><br>
  <div class=" text-muted text-muted">
  Ser una empresa de referencia para las personas y entidades que buscan proyectarse en el internet, totalmente adaptable a los cambios tecnológicos y sociales. Esta labor se debe desempeñar de manera ética y satisfactoria sin perder la Calidad, la Eficiencia y el Compromiso que nos diferencia.
  </div>
</h4>
</div>
</div>
<br>
<div class="row text-center">
<div class="col-md-4">
<img src="/assets/calidad.png" class="img-responsive center-block" alt="" width="140px">
<h4 class="service-heading">Calidad</h4>
<p class="text-muted">Manejando los Estándares Internacionales de Calidad, Dual Designers te ofrece Paginas Web al mismo nivel que los sitios mas visitados en el mundo.</p>
</div>
<div class="col-md-4">
<img src="/assets/eficiencia.png" class="img-responsive center-block" alt="" width="140px">
<h4 class="service-heading">Eficiencia</h4>
<p class="text-muted">Manejando una Metodología de Trabajo Eficiente, Dual Designers te ofrece un Trabajo Continuo para obtener resultados antes de lo que esperabas.</p>
</div>
<div class="col-md-4">
<img src="/assets/compromiso.png" class="img-responsive center-block" alt="" width="140px">
<h4 class="service-heading">Compromiso</h4>
<p class="text-muted">Manejando los Proyectos con el Mayor Compromiso, Dual Designer te ofrece un Servicio Ideal para ti, porque ya nos sentimos parte de tu Proyecto.</p>
</div>
</div>
</div>
</section>

<section id="que_hacemos">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="section-heading">¿Qué Hacemos?</h2>
<br>

<h4 style="font-weigth:normal;">
  Diseño y Desarrollo Web basándonos en Metodologías Ágiles orientadas al continuo trabajo mano a mano con nuestros clientes.
  <br>
  Nuestro objetivo es obtener un producto de alta calidad que satisfaga todas sus necesidades.
</h4>
<br>
</div>
</div>
<div class="row text-center">
<div class="col-md-4">
<span class="fa-stack fa-4x">
<i class="fa fa-circle fa-stack-2x text-primary"></i>
<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
</span>
<h4 class="service-heading">Diseño Web</h4>
<p class="text-muted">Junto con un experimentado Equipo de Diseñadores Gráficos, Dual Designers te da la opción de diseñar una Página Web que se vea tal como la deseas.</p>
</div>
<div class="col-md-4">
<span class="fa-stack fa-4x">
<i class="fa fa-circle fa-stack-2x text-primary"></i>
<i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
</span>
<h4 class="service-heading">Diseño Responsivo</h4>
<p class="text-muted">Tomando en cuenta el avance tecnológico presente en la infinidad de Dispositivos Móviles y su actual uso, Dual Designers realiza Páginas Web Responsivas que pueden ser accedidas desde diferentes resoluciones de pantalla.</p>
</div>
<div class="col-md-4">
<span class="fa-stack fa-4x">
<i class="fa fa-circle fa-stack-2x text-primary"></i>
<i class="fa fa-flash fa-stack-1x fa-inverse"></i>
</span>
<h4 class="service-heading">Metodologías Ágiles</h4>
<p class="text-muted">Trabajando mano a mano con nuestros clientes, Dual Designers hace uso de Metodologías Ágiles para que todos los requerimientos y necesidades sean satisfechas como las pensaste.</p>
</div>
</div>
</div>
</section>

<section id="planes" class="bg-light-gray">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="section-heading">Nuestros Paquetes</h2>
<br>

<div class="row text-center">
<div class="col-md-4">
<img src="/assets/paquete1.png" class="img-responsive center-block" alt="">

</div>
<div class="col-md-4">
<img src="/assets/paquete2.png" class="img-responsive center-block" alt="">


</div>
<div class="col-md-4">
<img src="/assets/paquete3.png" class="img-responsive center-block" alt="">


</div>
</div>

</div>
</div>

</div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="section-heading">Algunos Proyectos</h2>
<h3 class="section-subheading text-muted">Estos son algunos de los Proyectos que realizamos.</h3>
</div>
</div>
<div class="row">
<div class="col-md-6 col-sm-6 portfolio-item">
<a target="_blank" href="http://www.tierrahostilcochabamba.com" class="portfolio-link">
<div class="portfolio-hover">
<div class="portfolio-hover-content">
<i class="fa fa-eye fa-3x"></i>
</div>
</div>
<img src="/assets/tierrahostil.png" class="img-responsive" alt="">
</a>
<div class="portfolio-caption">
<h4>Tierra Hostil</h4>
</div>
</div>
<div class="col-md-6 col-sm-6 portfolio-item">
<a target="_blank" href="http://www.fmhitradio.com" class="portfolio-link">
<div class="portfolio-hover">
<div class="portfolio-hover-content">
<i class="fa fa-eye fa-3x"></i>
</div>
</div>
<img src="/assets/RadioHit.png" class="img-responsive" alt="">
</a>
<div class="portfolio-caption">
<h4>Radio Hit</h4>
</div>
</div>
<div style="clear: both;"></div>
<div class="col-md-6 col-sm-6 portfolio-item">
<a target="_blank" href="http://www.jatunjallpa.com" class="portfolio-link">
<div class="portfolio-hover">
<div class="portfolio-hover-content">
<i class="fa fa-eye fa-3x"></i>
</div>
</div>
<img src="/assets/Jatun.png" class="img-responsive" alt="">
</a>
<div class="portfolio-caption">
<h4>Jatun Jallpa</h4>
</div>
</div>
<div class="col-md-6 col-sm-6 portfolio-item">
<a target="_blank" href="http://www.crisner.com" class="portfolio-link">
<div class="portfolio-hover">
<div class="portfolio-hover-content">
<i class="fa fa-eye fa-3x"></i>
</div>
</div>
<img src="/assets/crisner.png" class="img-responsive" alt="">
</a>
<div class="portfolio-caption">
<h4>Crisner Architecture Design</h4>
</div>
</div>
</div>
</div>
</section>


<section id="contact" class="bg-light-gray">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="section-heading">Contáctanos</h2>
  <div style="float:left" class="text-left">
    <h3>Información de Contacto</h3>
    <div style="font-size:18px;border:solid #4bacc6 4px; padding:7px;border-radius:3px;">
      <strong>Correo Electrónico:</strong> info@dual-designers.com <br> <br>
      <strong>Teléfonos:</strong> (+591) 77498233 - (+591) 79777396 - (+591) 79365071 <br>
    </div>
    <h3>Envíanos un mensaje</h3>
  </div>
  <div class="clearfix"></div>
</div>
</div>
</div>

<div class="row center-block">
<div class="col-lg-12">
<%= form_for(@mensaje) do |f| %>
  <% if @mensaje.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mensaje.errors.count, "error") %> prohibited this mensaje from being saved:</h2>

      <ul>
      <% @mensaje.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row col-md-12 center-block">
  <div class="col-md-2"></div>
  <div class="col-md-4 text-center">
  <div class="form-group">
    <h3 style="color:#659DEE;">Nombre*</h3>
      <%= f.text_field :nombre, :size => "40x1", :maxlength => 30, :placeholder => "Ingresa tu Nombre Completo" %>
  </div>
  <div class="form-group">
    <h3 style="color:#659DEE;">Correo Electrónico*</h3>
      <%= f.text_field :email , :size => "40x1", :maxlength => 30, :placeholder => "Ingresa tu Dirección de Correo Electrónico" %>
  </div>
  </div>
  <div class="col-md-4 text-center">
  <div class="form-group">
    <h3 style="color:#659DEE;">Mensaje*</h3>
      <%= f.text_area :contenido_mensaje , :size => "30x14", :maxlength => 500, :placeholder => "Déjanos tu Mensaje" %>
  </div>
  </div>
  <div class="clearfix"></div>
  <div class="col-lg-12 text-center">
  <div id="success">
     <button type="submit" class="btn btn-xl">Enviar Mensaje</button>
  </div>
  </div>
  </div>
<% end %>
</div>
</div>
</section>


<footer class="bg-light-gray">
<div class="container" >
<div class="row">
<div class="col-md-4">
<span class="copyright">Copyright &copy; Dual Designers 2015</span>
</div>
<div class="col-md-4">
<ul class="list-inline social-buttons">
<li><a href="http://twitter.com/Dual_Designers" target="_blank"><i class="fa fa-twitter"></i></a>
</li>
<li><a href="http://www.facebook.com/dualdes" target="_blank"><i class="fa fa-facebook"></i></a>
</li>
</ul>
</div>
</div>
</div>
</footer>

<!-- jQuery Version 1.11.0 -->
<script src="js/jquery-1.11.0.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/cbpAnimatedHeader.js"></script>
<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>
<!-- Custom Theme JavaScript -->
<script src="js/agency.js"></script>
</body>

<script type="text/javascript">
  $(function() {
   $('#notice').delay(500).fadeIn('normal', function() {
      $(this).delay(2500).fadeOut();
     });
  });
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62556890-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
